/* Forms */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;  
}

.col-center {
  float: none;
  margin: auto;
}

.wrapper {
  margin: 60px auto;
}

legend {
  font-size: 24px;
}

form p {
  margin: 0;
  padding: 0;
}

#errorDiv,
.required,
.errorMess {
  color: red;
}

.errorMess {
  display: none;
}

.errorMess.active {
  display: block;
}

form input,
form button.btn,
form input.form-control,
form select option {
  font-size: 16px;
  height: 35px;
}

.radio-lbl,
input.radio-input {
  display: block;
  float: left;
  height: 35px;
  line-height: 35px;
  border: none;
  width: auto;
  margin: 0;
  font-size: 16px;
  box-shadow: none;
  margin-left: 15px;
}

.clearer,
.radio-group {
  clear: both;
  float: none;
}

form button {
  width: 100%;
}

.success {
  color: #46b3e6;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;  
  top: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
}

.loader img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  top: 35%;
  position: absolute;
  left: 0;
  right: 0;
}

.loader.active {
  display: block;
}